{% extends "layout.html"%}
{% block heading%}
search
{% endblock %}

{% block body %}
<table>
{% for row in details%}
<tr>
	<td>
<p>{{row.isbn}}</p>
</td>
<td>
<p>{{row.title}}</p>
</td>
<td>
<p>{{row.author}}</p>
</td>
<td>
<p>{{row.year}}</p>
</td>
</tr>

{% endfor %}
</table>

<form action="final", method="POST">
	Enter the ID of the book you were looking for:<input type="text" name="final" id="final" placeholder="ID">
	Enter your username<input type="text" name="check_username" id="check_username" placeholder="username">
	<button>click</button>
</form>


{% endblock %}
